*{
    --card-height: 110px;
    /* --card-height-expanded: 130px; */
    --card-height-expanded: 110px;

    --card-width: 230px;
    --card-width-expanded: 300px;

    --value-font-size: 3em;
    --value-font-size-expanded: 4em;

    --button-height: 15px;

    --graph-height: 200px;
}

.flexcontainer{
	display: flex;
	flex-direction: column;
	margin: 0;
    /* width: calc(60% - 20px); */
    width: 50%;
    /* font-size: 3em; */
    float:left;
    text-align: center;
    transition: 0.5s;
}

.card {
    background-color: #EEEEEE;
    width: 100%;
    height: var(--card-height);
    transition-duration: 0.5s;
    overflow-y: hidden;
}



.value {
    font-size: 28px;
}

.icon {
    /* background-color: black;
    border-radius: 50%; */
    display: block;
    float: right;
    /* height: calc(var(--card-height) - var(--button-height)); */
    margin: 5px;
    /* width: 40%; */
    margin: 0;
    transition: 0.5s;
}

.time {
    font-size: 15px;
}

.slider {
    width: 100%;
}

.graph {
    background-color: #DDDDDD;
    width: 100%;
    height: var(--graph-height);
    display: block;
    float: left;
}

.button {
    background-color: #EEEEEE;
    text-align: center;
    height: var(--button-height);
    width: 100%;
    margin: 0;
    display: inline-block;
}

.button:hover {
    background-color: #DDDDDD;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 5px;
    transform: rotate(45deg);
    transition: 0.3s;
}
