.svgDiv {
    height: 100%;
    width: 100%;
}

.readingDiv {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.markerSVG {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 50%;
}

.markerText {
    font-size: 16px;
    text-align: center;
}

.anchorTail {
    position: absolute;
    top: 0;
    left: 25px;
    height: 75px;
    width: 5px;
    border-left: 2px solid white;
    z-index: -1;
}

.anchorDot {
    position: absolute;
    bottom: 0;
    left: -3.5px;
    border: 3px solid white;
    border-radius: 50%;
}
